<html>
<head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis|Candal">
      <script src="../static/editor.js"></script>

</head>
<body>
<div class="toolbar">
  <a href="#" data-command='undo'><i class='fa fa-undo'></i></a>
  <a href="#" data-command='redo'><i class='fa fa-repeat'></i></a>
  <div class="fore-wrapper"><i class='fa fa-font' style='color:#C96;'></i>
    <div class="fore-palette">
    </div>
  </div>
  <div class="back-wrapper"><i class='fa fa-font' style='background:#C96;'></i>
    <div class="back-palette">
    </div>
  </div>
</div>
<div id='editor' contenteditable>
  <h1>A WYSIWYG Editor.</h1>
  <p>Try making some changes here. Add your own text or maybe an image.</p>
</div>
</body>
</html>